<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="ApplicationVersion" value="ver0.1 build 20201208"/>
		<add key="UserInfoTableName" value="TBL_USER_INFO"/>
		<add key="SubscribeTableName" value="TBL_SUBSCRIBE"/>
		<add key="ManagedAppIDs" value="舆情热榜|wxd8ad0880660d4155,测试|wxb10693ce301b0503"/>
		<add key="ManagedSubType" value="免费|free,试用|trial,周卡|week,月卡|month,年卡|year,三星|3star,四星|4star,五星|5star,六星|6star,内部|inner,黑名单|black"/>
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
  <add name="sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=stg01_dbwx;Persist Security Info=True;User ID=sa;Password=password" />
 </connectionStrings>
</configuration>