<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationVersion" value="ver0.1 build 20201208"/>
		<add key="MonitorStartTime" value="09:30"/>
		<add key="MonitorEndTime" value="10:30"/>
		<add key="PortfolioHistoryTableName" value="TBL_PORTFOLIO_HISTORY"/>
		<add key="PortfolioLatestTableName" value="TBL_PORTFOLIO_LATEST"/>
		<add key="PortfolioSignalTableName" value="TBL_PORTFOLIO_SIGNAL"/>
		<add key="WriteDataToDB" value="true"/>
		<add key="SiteAvailableUrl" value="https://pchq.kaipanla.com/w1/api/"/>
		<add key="PortfolioPostUrl" value="https://pchq.kaipanla.com/w1/api/index.php"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<connectionStrings>
		<add name="sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=stg01_db;Persist Security Info=True;User ID=sa;Password=password"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>