
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="form-inline" id="toolbar">
        <label>日期：</label>
        <!--指定 date标记-->
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" readonly />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table text-nowrap"
               id="table"
               data-toggle="table"
               data-sortable="false"
               data-toolbar="#toolbar"
               data-search="false"
               data-show-search-button="false"
               data-side-pagination="client"
               data-pagination="true"
               data-click-to-select="true"
               data-single-select="true"
               data-page-size="20"
               data-buttons-align="right"
               data-show-button-text="true"
               data-ajax="ajaxSignalRequest"
               data-cache="false"
               data-show-refresh="true"
               data-auto-refresh="true"
               data-auto-refresh-status="false"
               data-auto-refresh-interval="10"
               data-auto-refresh-silent="true"
               data-show-fullscreen="true"
               data-show-columns="true"
               data-unique-id="CODE"
               data-detail-view="true"
               data-detail-view-icon="true"
               data-detail-formatter="stockDetailFormatter">
            <thead>
                <tr>
                    <th data-field="RN" data-align="center" data-valign="middle">序<br />号</th>
                    <th data-field="SBSJ" data-formatter="timeFormatter" data-align="center" data-valign="middle">上榜<br />时间</th>
                    <!--<th data-field="TL" data-align="center" data-valign="middle">体量</th>-->
                    <th data-field="CODE" data-align="center" data-valign="middle">股票<br />代码</th>
                    <th data-field="NAME" data-formatter="autoLightFormatter" data-align="center" data-valign="middle">股票<br />名称</th>
                    <th data-field="RATE" data-formatter="percentFormatter" data-align="center" data-valign="middle">上榜<br />涨幅</th>
                    <th data-field="CJE" data-formatter="decimalPlainWanFormatter" data-align="center" data-valign="middle">上榜<br />成交</th>
                    <th data-field="RATIO" data-formatter="percentFormatter" data-align="center" data-valign="middle">上榜<br />换手</th>
                    <th data-field="SPEED" data-align="center" data-valign="middle">上榜<br />涨速</th>
                    <th data-field="SJLTP" data-formatter="decimalYiFormatter" data-align="center" data-valign="middle">实际<br />流通</th>
                    <th data-field="TUDE" data-formatter="wrapFormatter" data-align="left" data-valign="middle">概念板块</th>
                    <th data-field="BUY" data-formatter="decimalWanFormatter" data-align="center" data-valign="middle">上榜<br />买入</th>
                    <th data-field="SELL" data-formatter="decimalWanFormatter" data-align="center" data-valign="middle">上榜<br />卖出</th>
                    <th data-field="ZLJE" data-formatter="decimalWanFormatter" data-align="center" data-valign="middle">上榜<br />净额</th>
                    <th data-field="QD" data-align="center" data-valign="middle">强度</th>
                    <th data-field="ZX_BUY" data-align="center" data-valign="middle" data-formatter="decimalWanFormatter">主力买入<br />（实时）</th>
                    <th data-field="ZX_SELL" data-align="center" data-valign="middle" data-formatter="decimalWanFormatter">主力卖出<br />（实时）</th>
                    <th data-field="ZX_ZLJE" data-align="center" data-valign="middle" data-formatter="decimalWanFormatter">主力净额<br />（实时）</th>
                    <th data-field="ZX_QD" data-align="center" data-valign="middle">强度<br />（实时）</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            locale: moment.locale('zh-cn'),
            useCurrent: true,
            format: 'YYYY年MM月DD日',//显示格式
            daysOfWeekDisabled: [0, 6], //禁止选中周六周日
            maxDate: new Date(),
            ignoreReadonly: true
        }).on('dp.change', function (e) {
            //console.log(e.date.format('YYYYMMDD'));
            //刷新数据表
            $('#table').bootstrapTable('refresh', {
                slient: true,
            });
        });
    });

    function ajaxSignalRequest(params) {
        var picked_date = $('#datetimepicker1').datetimepicker("viewDate")
        if (!picked_date) {
            picked_date = moment().format("YYYYMMDD");
        } else {
            picked_date = picked_date.format("YYYYMMDD");
        }
        $.ajax({
            url: "/api/Signal?ttl=0&count=20&date=" + picked_date
                + "&_rnd=" + Math.random(10000000, 99999999),
            type: "GET",
            dataType: "json",
            success: function (rs) {
                params.success({
                    total: rs.length,
                    rows: rs
                });
                //debugger;
            },
            error: function (rs) {
                params.error({
                    total: 0,
                    rows: []
                });
            }
        });
    }

    function autoLightFormatter(value, row) {

        if ((row.QD > 100) ||
            (row.QD > 60 && row.TL > 1200) ||
            (row.QD > 60 && row.ZLJE > 2500 * 10000)) {
            return '<div style="color: #f00;">' + value + '</div>';
        } else {
            return value;
        }

    }

    function stockDetailFormatter(index, row) {
        var code = row.CODE;
        var mkt = "";
        if (code.startsWith("00") || code.startsWith("30")) {
            mkt = "sz";
        } else if (code.startsWith("60") || code.startsWith("68")) {
            mkt = "sh";
        }
        var html =
            '<img src="https://image.sinajs.cn/newchart/min/n/'
            + mkt + code + '.gif" title="' + code + '" class="tr-inline-image">' +
            '<img src="https://image.sinajs.cn/newchart/daily/n/'
            + mkt + code + '.gif" title="' + code + '" class="tr-inline-image">';
        return html;
    }

</script>
