<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="table-responsive">
        <table 
               id="table" 
               data-toggle="table"
		       data-toolbar="#toolbar" 
		       data-search="false"     
		       data-side-pagination="client" 
		       data-pagination="true" 
		       data-click-to-select="true" 
		       data-single-select="true"
		       data-page-size= "10"
               data-url="Api/Signal?ttl=0"
               data-cache="false"
               data-sortable="false"
               >
            <thead>
                <tr>
                    <th data-field="DATE">DATE</th>
                    <th data-field="TIME">TIME</th>
                    <th data-field="SBSJ">SBSJ</th>
                    <th data-field="XHGXSJ">XHGXSJ</th>
                    <th data-field="CODE">CODE</th>
                    <th data-field="NAME">NAME</th>
                    <th data-field="RATE">RATE</th>
                    <th data-field="PRICE">PRICE</th>
                    <th data-field="CJE">CJE</th>
                    <th data-field="RATIO">RATIO</th>
                    <th data-field="SPEED">SPEED</th>
                    <th data-field="SJLTP">SJLTP</th>
                    <th data-field="TUDE">TUDE</th>
                    <th data-field="BUY">BUY</th>
                    <th data-field="SELL">SELL</th>
                    <th data-field="ZLJE">ZLJE</th>
                    <th data-field="QJZF">QJZF</th>
                    <th data-field="TAG">TAG</th>
                    <th data-field="JCF">JCF</th>
                    <th data-field="JEF">JEF</th>
                    <th data-field="JEZH">JEZH</th>
                    <th data-field="JEZH2">JEZH2</th>
                    <th data-field="TL">TL</th>
                    <th data-field="QD">QD</th>
                    <th data-field="ZX_RATE">ZX_RATE</th>
                    <th data-field="ZX_PRICE">ZX_PRICE</th>
                    <th data-field="ZX_CJE">ZX_CJE</th>
                    <th data-field="ZX_RATIO">ZX_RATIO</th>
                    <th data-field="ZX_SPEED">ZX_SPEED</th>
                    <th data-field="ZX_SJLTP">ZX_SJLTP</th>
                    <th data-field="ZX_BUY">ZX_BUY</th>
                    <th data-field="ZX_SELL">ZX_SELL</th>
                    <th data-field="ZX_ZLJE">ZX_ZLJE</th>
                    <th data-field="ZX_QJZF">ZX_QJZF</th>
                    <th data-field="ZX_JCF">ZX_JCF</th>
                    <th data-field="ZX_JEF">ZX_JEF</th>
                    <th data-field="ZX_JEZH">ZX_JEZH</th>
                    <th data-field="ZX_JEZH2">ZX_JEZH2</th>
                    <th data-field="ZX_TL">ZX_TL</th>
                    <th data-field="ZX_QD">ZX_QD</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
