<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationVersion" value="ver0.1 build 20201208" />
    <add key="BusinessStartTime" value="09:30" />
    <add key="BusinessEndTime" value="09:50" />
    <add key="StockRankingTableName" value="TBL_STOCK_RANKING" />
    <add key="StockAnalyseTableName" value="TBL_STOCK_ANALYSE" />
    <add key="StockLatestAnalyseTableName" value="TBL_STOCK_LATEST_ANALYSE" />
    <add key="StockSignalTableName" value="TBL_STOCK_SIGNAL" />
    <add key="StockSignalConfirmTableName" value="TBL_STOCK_SIGNAL_CONFIRM" />
    <!-- 监测信号数据变动并更新到数据库，true = 写入 false = 不写入-->
    <add key="WatchSignalRealtimeUpdateTable" value="true" />
    <!-- 将实时计算的数据写入到缓存表/数据库，true = 写入 false = 不写入-->
    <add key="WriteLatestAnalyseToMemoryTable" value="false" />
    <!-- 使用何种删除数据库数据，使用TRUNCAT方式需要更高的数据库权限，true = TRUNCAT方式 false = Delete方式-->
    <add key="TruncateMemoryTable" value="false" />
    <!-- 是否将数据写入到数据，true = 写入 false = 不写入 -->
    <add key="WriteDataToDB" value="true" />
    <add key="SiteAvailableUrl" value="https://pchq.kaipanla.com/w1/api/" />
    <add key="StockRankingUrl" value="https://pchq.kaipanla.com/w1/api/index.php?c={0}&amp;a={1}&amp;Date={2}&amp;RStart={3}&amp;REnd={4}&amp;Ratio={5}&amp;Type={6}&amp;Order={7}&amp;index={8}&amp;st={9}&amp;UserID={10}&amp;Token={11}" />
    <add key="StockRankingPostUrl" value="https://pchq.kaipanla.com/w1/api/index.php" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=stg01_db;Persist Security Info=True;User ID=sa;Password=password" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>