<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="ApplicationVersion" value="ver0.1 build 20220419"/>
		<add key="PortfolioSignalTableName" value="TBL_PORTFOLIO_SIGNAL"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=stg01_db;Persist Security Info=True;User ID=sa;Password=password"/>
	</connectionStrings>
</configuration>
