<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

	</configSections>
	<appSettings>
		<add key="ApplicationVersion" value="ver0.1 精简版 20230228"/>
		<add key="BusinessStartTime" value="09:27"/>
		<add key="BusinessEndTime" value="19:30"/>
		<add key="PlateListTableName" value="TBL_PLATE_LIST"/>
		<add key="PlateStockListTableName" value="TBL_PLATE_STOCK"/>
		<add key="PlateStockAnalyseTableName" value="TBL_PLATE_STOCK_ANALYSE"/>
		<add key="PlateStockLatestAnalyseTableName" value="TBL_PLATE_STOCK_LATEST_ANALYSE"/>
		<add key="PlateStockSignalTableName" value="TBL_PLATE_STOCK_SIGNAL"/>
		<add key="PlateStockSignalConfirmTableName" value="TBL_PLATE_STOCK_SIGNAL_CONFIRM"/>
		<!-- 监测信号数据变动并更新到数据库，true = 写入 false = 不写入-->
		<add key="WatchSignalRealtimeUpdateTable" value="true"/>
		<!-- 将实时计算的数据写入到缓存表/数据库，true = 写入 false = 不写入-->
		<add key="WriteLatestAnalyseToMemoryTable" value="false"/>
		<!-- 使用何种删除数据库数据，使用TRUNCAT方式需要更高的数据库权限，true = TRUNCAT方式 false = Delete方式-->
		<add key="TruncateMemoryTable" value="false"/>
		<!-- 是否将中间数据写入到数据，true = 写入 false = 不写入 -->
		<add key="WriteDataToDB" value="false"/>
		<!-- 标记板块选中行后的显示数据，true = 标记 false = 不标记 -->
		<add key="MarkUpSelectedRows" value="true"/>
		<!-- 显示将正负数据友好显示，true = 标记 false = 不标记 -->
		<add key="FriendlyRowDataColor" value="true"/>
		<!-- 轻量化模式，true =  false = 不标记 -->
		<add key="LightWeightMode" value="true"/>
		<!-- 忽略交易日判断，true =  false = 不标记 -->
		<add key="IgnoreBusinessDateCheck" value="true"/>
		<add key="SiteAvailableUrl" value="https://apphq.longhuvip.com/w1/api/"/>
		<add key="PlatePostUrl" value="https://apphq.longhuvip.com/w1/api/index.php?apiv=w31&amp;PhoneOSNew=1&amp;VerSion=5.7.0.10&amp;old=1"/>
		<!--
		<add key="PlateListUrl" value="https://pchq.kaipanla.com/w1/api/index.php?c={0}&amp;a={1}&amp;SelType={2}&amp;ZSType=7{3}&amp;PType=1{4}&amp;POrder=1{5}&amp;PStart={6}&amp;PEnd={7}&amp;PIndex=0{8}&amp;Pst=10{9}&amp;UserID=87757{10}&amp;Token={11}" />
		<add key="PlateStocksListUrl" value="https://pchq.kaipanla.com/w1/api/index.php?c={0}&amp;a={1}&amp;SelType={2}&amp;LType={3}&amp;LOrder={4}&amp;LStart={5}&amp;LEnd={6}&amp;LIndex={7}&amp;Lst={8}&amp;PlateID={9}&amp;UserID={10}&amp;Token={11}" />
		-->

	</appSettings>
	<connectionStrings>
		<add name="sqlserver" connectionString="Data Source=127.0.0.1;Initial Catalog=stg01_db;Persist Security Info=True;User ID=sa;Password=password"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
